body {
    color: seashell;
    font-size: 22px;
    font-family: Helvetica;
}
.header {
    background-color: black;
    display: inline-flex;
    justify-content: space-between;
    min-width: 300px;
    width: 1300px;
    height: 69px;
    align-items: center;
}

.headerMenu {
    text-decoration: underline;
    margin-right: 10px;
}

#teaCozy {
    height: 50px;
    margin-left: 10px;
}

.hero {
    background-color: black;
    align-items: center;
}

.heroDiv {

}